@charset "utf-8";

/* 全体 */

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
  font-size: 32px;
}

h3 {
  margin: 16px 0 0;
  font-weight: normal;
}

p {
  margin: 8px 0 0;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: .3;
}

select, button:hover {
  cursor: pointer;
}

/* header */

header {
  background: rgb(255, 254, 176);
  text-align: center;
  height: 160px;
  line-height: 160px;
}

/* 画像 */

.picture {
  background: rgb(205, 255, 167);
  
}

.picture-sp {
  display: block;
  margin: 0 auto;
}

.picture-pc {
  display: none;
  margin: 0 auto;
}

/* 商品 */

.merchandise {
  margin-top: 80px;
}

.mrechandise-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 730px;
  margin: 0 auto;
}

.mrechandises {
  margin: 16px 16px 0;
}

select {
  width: 100px;
  height: 24px;
  margin-top: 16px;
  border-radius: 8px;
  text-align: center;
}

button {
  all:unset;
  display: block;
  margin: 32px auto;
  background: skyblue;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-bottom: 4px solid black;
}

button:active {
  transform: translateY(4px);
  border-bottom: none;
}

/* フッター */

footer {
  background: rgb(255, 254, 176);
  text-align: center;
  height: 160px;
  line-height: 160px;
}

/* トップボタン */
.top {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

/* width >= 600 */

@media (min-width: 600px) {

  /* 画像 */

  .picture-sp {
    display: none;
  }
  
  .picture-pc {
    display: block;
  }

  .mrechandise-list {
    gap: 120px;
    max-width: 940px;
  }
}