@charset "utf-8";

/* 全体 */

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-weight: normal;
  text-align: center;
  font-size: 32px;
}

h3 {
  margin: 16px 0 0;
  font-weight: normal;
}

p {
  margin: 8px 0 0;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: .3;
}

select, button:hover {
  cursor: pointer;
}

/* header */

header {
  text-align: center;
  padding-top: 80px;
}

/* 画像 */

.picture {
  margin-top: 80px;
}

.picture-sp {
  display: block;
  margin: 0 auto;
}

.picture-pc {
  display: none;
  margin: 0 auto;
}

/* 商品 */

.merchandise {
  margin-top: 80px;
}

.mrechandise-list {
  margin: 0 auto;
  width: 200px;
}

.mrechandises {
  margin-top: 64px;
}

select {
  width: 100px;
  height: 24px;
  margin-top: 16px;
  border-radius: 8px;
  text-align: center;
}

.btn {
  display: flex;
  width: 294px;
  margin: 64px auto;
  gap: 54px;
}

button {
  all:unset;
  display: block;
  margin: 0 auto;
  background: skyblue;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  text-align: center;
  border-bottom: 4px solid black;
}

button:active {
  transform: translateY(4px);
  border-bottom: none;
}

/* フッター */

footer {
  text-align: center;
  margin: 120px 0 16px;
}

/* トップボタン */
.top {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

/* width >= 600 */

@media (width >= 600px) {

  /* 画像 */

  .picture-sp {
    display: none;
  }
  
  .picture-pc {
    display: block;
  }

  .mrechandise-list {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    max-width: 840px;
    margin: 48px auto 0;
  }

  .mrechandises {
    margin: 0;
  }
}
